/* 共通 */

html {
   font-size: 100%;
}

body {
   height: 100dvh;
   width: 100dvw;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0;
   background-color: crimson;
   color: white;
   font-family: Arial, sans-serif;
}

.score {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 500px;
   gap: 5px;
}

.index {
   position: fixed;
   top: 0;
   left: 0;
   margin-top: 15px;
   margin-left: 12px;
}

#black-score,
#white-score {
   font-size: 30px;
   font-weight: bold;
}

.black-name,
.white-name {
   font-size: 32px;
   font-weight: bold;
}

.close {
   color: #000;
}

/* 石のデザイン */

.black,
.white {
   border-radius: 50%;
   width: 80%;
   height: 80%;
   display: inline-block;
}

.black {
   background-color: black;
   vertical-align: middle;
}

.white {
   background-color: white;
   vertical-align: middle;
   border: 1px solid black;
}

/* ヒントを石と同じサイズに */

#board .hint {
   border: 2px double red;
   background-color: rgb(255, 255, 0, 0.6)
}

/* ボタンのデザイン */

#reset-button {
   padding: 3px 0;
   width: 150px;
   font-size: 16px;
   text-align: center;
   cursor: pointer;
   background-color: darkred;
   color: #fff;
}

#pass-button {
   background-color: white;
   color: #333;
   padding: 8px;
   line-height: 1.3;
   border-radius: 50%;
   font-weight: 500;
   margin-left: 15px;
}

/* 左の列 */

.left {
   width: 30%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.black-label {
   font-size: 35px;
   margin-bottom: 5px;
   cursor: default;
   user-select: none;
}

/* 真ん中の列 */

.center {
   width: 40%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 40px;
}

#indicator {
   color: bisque;
   font-size: 45px;
   font-weight: bold;
}

#board {
   border-collapse: collapse;
   /* セルとセルの間をなくす */

   border: 2px solid black;
   text-align: center;
}

/* 盤面のセルの基本スタイル */

#board td {
   width: 50px;
   height: 50px;
   text-align: center;
   vertical-align: middle;
   border: 2px solid black;
   background-color: green;
}

#turn-info {
   font-size: 2rem;
   font-weight: 500;
}

/* 右の列 */

.right {
   width: 30%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.white-label {
   font-size: 30px;
   margin-bottom: 5px;
   cursor: default;
   user-select: none;
}

/* メニュー画面 */

#menu-screen {
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.7);
   z-index: 20;
   align-items: center;
   justify-content: center;
   gap: 50px;
}

.btn {
   margin: 15px 0;
   display: flex;
   gap: 15px;
   justify-content: center;
   align-items: center;
}

#menu {
   padding: 20px 0;
   width: 120px;
   font-size: 1.5rem;
   text-align: center;
   cursor: pointer;
   background-color: white;
   color: #333;
   border-radius: 50%;
   font-weight: 500;
   line-height: 1.3;
   position: fixed;
   bottom: 0;
   right: 0;
   margin-bottom: 30px;
   margin-right: 100px;
}

.backButton {
   display: flex;
   align-items: center;
   gap: 2px;
}

#back {
   display: block;
   position: relative;
   background-color: red;
   width: 25px;
   height: 25px;
}

#back::before,
#back::after {
   content: "";
   position: absolute;
   width: 3px;
   height: 35px;
   background: #fff;
   top: 50%;
   left: 50%;
}

#back::before {
   transform: translate(-50%, -50%) rotate(45deg);
}

#back::after {
   transform: translate(-50%, -50%) rotate(-45deg);
}

#friend {
   padding: 3px 0;
   width: 150px;
   font-size: 16px;
   text-align: center;
   cursor: pointer;
   background-color: darkred;
   color: #fff;
   margin-left: 40px;
}

/* CPUの難易度 */

.content {
   margin-top: 40px;
}

.title {
   color: #000;
}

.difficulty {
   margin-top: 65px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 45px;
}

#easy-btn,
#normal-btn,
#hard-btn {
   padding: 3px 0;
   width: 150px;
   font-size: 16px;
   text-align: center;
   cursor: pointer;
   background-color: darkred;
   color: #fff;
}
